* {
    box-sizing: border-box;
    background-color: rgb(241, 246, 246);
    /* background-color:beige; */
}

body{
    padding: 10px;
}


/* Điều chỉnh border left, right, botom cho màn hình lớn và nhỏ  */

/* màn hình lớn: Laptop (lg) */
@media screen and (min-device-width: 1200px) {

    .box-goals {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 5px solid blue;
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        border-left: 5px solid blue;
    }
    .box-scope {
        padding-top: 5px;
        padding-bottom: 5px;
        /* border-top: 5px solid blue; */
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        border-left: 5px solid blue;
    }
    .box-team {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 5px solid blue;
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        /* border-left: 5px solid blue;  */
    }
    .box-primary {
        padding-top: 5px;
        padding-bottom: 5px;
        /* border-top: 5px solid blue; */
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        /* border-left: 5px solid blue;  */
    }
    .box-timeline {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 5px solid blue;
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        /* border-left: 5px solid blue; */
    }

}

/* TABLET and PHONE, md and sm device */
@media screen and (max-device-width: 1200px) {
    .box-goals {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 5px solid blue;
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        border-left: 5px solid blue;
    }
    .box-scope {
        padding-top: 5px;
        padding-bottom: 5px;
        /* border-top: 5px solid blue; */
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        border-left: 5px solid blue;
    }
    .box-team {
        padding-top: 5px;
        padding-bottom: 5px;
        /* border-top: 5px solid blue; */
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        border-left: 5px solid blue; 
    }
    .box-primary {
        padding-top: 5px;
        padding-bottom: 5px;
        /* border-top: 5px solid blue; */
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        border-left: 5px solid blue; 
    }
    .box-timeline {
        padding-top: 5px;
        padding-bottom: 5px;
        /* border-top: 5px solid blue; */
        border-right: 5px solid blue;
        border-bottom: 5px solid blue;
        border-left: 5px solid blue;
    }

}




/* div{
    border: 5px solid orange;
} */