* {
    margin: 0px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    align-items: center; 
}

/* các back ground xám, cho mỗi section xen kẽ */
.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;
    /* padding: 30px 50px; */
}

/*###### Banner section */
#banner {
    margin: auto;
    display: block;    
    position: relative;
    text-align: center;
    color: white;
}

.banner-img{
    width: 100%;
    padding: 0;
}

/* chữ trên banner, hiện bên trên hình.. điều chỉnh font-size nhỏ hơn trong small device */
@media only screen and (min-width: 1024px){
    .banner-text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

/* ##########  NAV section */
#nav-bar {
    /* width: 100%; */
    margin: auto;
    text-align: center;
    padding-top: 0;
    position: relative;
}

#nav-item {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: rgb(127, 200, 234);
}

#nav-item-buffer {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: rgb(127, 200, 234);
}


#nav-item-advanced {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-150%,-50%);
    border-radius: 50%;
    width: 50px;
}

.nav-item-under-avatar{
    width: 90px;
}

.nav-col, .nav-col-avatar{
    display: inline-block;
    vertical-align: middle;
    border-left: 3px solid rgb(120, 166, 214);
    border-width: 2px;
    margin-left: 25px;
}

.nav-col-avatar{
    margin-left: 0px;
}

a:link, a:visited{
    text-decoration: none;
    color: rgb(70, 66, 66);
}

/* ##########  About section - thong tin ca nhan */

#about{
    width: 100%;
}
/* 
#about .about-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
}   */

#about-item-left{
    /* width: 1fr; */
    /* border: solid black; */
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    line-height: 1.6;
}
#about-item-right{
    /* width: 1fr; */
    /* border: solid black; */
    margin-top: 0px;
    padding-top: 30px;
    line-height: 1.6;
    background-color: #eaeef0;
    
}

#about-item-right ul{
    list-style-type: none;
}

#section-about-title{
    font-size: 28px;
}


/* ##########  JOB section - thong tin ca nhan */

#job-info{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center; 
    line-height: 1.4;
}

  
.job-info-item{
    min-width: 300px;
    height: auto;
    padding: 0px;
    border: 2px solid rgb(165, 163, 163);
    margin: 5px;
}

#job-item-top{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
    /* background-color: aqua;  */
    padding: 15px;
    margin: 0;  
}



#job-item-top-left{
    /* background-color: antiquewhite; */
    width: 75%;
    margin: 15px;
}

#job-item-top-right{
    /* background-color:aliceblue; */
    width: 25%;
    margin-left: 5px;
    margin-top: 15px;
}

.level-bar{
    background: #199cdb;
    /* background: #90979a; */
    display: inline-block;
    height: 2px;
    width: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.level-bar-grey {
    background: #90979a;
    display: inline-block;
    height: 2px;
    width: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#job-item-bottom{
    display: flex;
    flex-direction: row;
    padding: 5px;
    
}
#job-item-bottom-left{
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
}

#job-item-bottom-right{
    display: inline-block;
    padding-left: 15px;
    padding-bottom: 10px;

}

#so-thich-item {
    margin: 15px;
}


/* ####### CERTIFICATE ###### */

.cert-containter{
    width: 1170px;
    margin: auto;
    padding-bottom: 20px;
}


.cert-item{
    border-bottom: 4px solid #d6c08d;
    margin-bottom: 20px;
}

/* xoa gach ngang tren thiet bi large */
@media only screen and (min-width: 1024px){
    .cert-gach-ngang{
        display:none;
    }
}

#cert-item-with-boder-left {
    padding-left: 3px; 
    border-left: 4px solid #d6c08d;
}



/* ########### PROJECT ################*/
#project{
    width: 100%;
}

#project-section{
    width: 100%;
    height: auto;
    margin: auto;
}

.project-item {
    display: grid;
    align-content: start;
    padding: 5px;
}

.project-item-below{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: grid;
    grid-template-rows: auto  auto auto auto auto;
}


.project-item-below-row{
    border: 2px solid #d6c08d;
    margin: 0px;
    padding: 5px;
    align-self: stretch;
}


.project-item-below-row-2{
    display: grid;
    grid-template-columns: 30% auto;
    border: 2px solid #d6c08d;
    margin: 0px;
    padding: 5px;
    align-self: stretch;
    
}


/* ########### FOOTER ##############*/

#footer{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

#footer-section{
    
    /* width: 1170px; */
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* align-content: center; */
    justify-content:center;
}

#footer-section div{
    padding: 25px;
    font-size: 1em;
    color: rgb(71, 64, 64);
}
